.content{
    margin: 0 50px;
}
.content_choose-room{
    width: 100%;
    margin: 30px 0;
}
.content_item{
    width: 150px;
    display: inline-block;
    border: 2px solid black;
}
.content_choose-type-work{
    margin: 30px 0;
}
.content_item-choose{
    width: 170px;
    height: 450px;
    display: inline-block;
    border: 2px solid black;
    padding: 10px;
}
.content_item_photo{
    background-color: darkgray;
    width: 150px;
    height: 80px;
    border-radius: 10px;
}
.name_room{
    background-color: darkgray;
    width: 150px;
    height: 80px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
}
.item_checkbox{
}
ul li{
    list-style: none;
}
.content_choose-square{
    margin: 30px 0;

}
.content_item-square{
    width: 250px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
}
.content_item-materials{
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
}
input[type="text"]{
    width: 50px;
}
.content_results{
    background-color: darkgray;
    margin: 30px 0;
    padding: 10px 30px;
    width: 500px;
}
.separator{
    width: 100%;
    height: 30px;
    background-color: darkgrey;
}
.footer{
    top: auto;
}